[color]
 ui = true
 branch = auto
 diff = auto
 status = auto

[color "branch"]
 current = yellow reverse
 local = yellow
 remote = green

[color "diff"]
 meta = yellow bold
 frag = magenta bold
 old = red
 new = cyan

[color "status"]
 added = yellow
 changed = green
 untracked = cyan

[alias]
  c = checkout
  co = commit
  s = status
  d = diff --no-color --no-prefix
  dc = diff --cached
  dw = diff -w
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  unstage = reset HEAD

  # Undo the last commit
  undo-commit = reset --soft HEAD~1

  # Undo everything since the last commit (including adding new files)
  undo = reset HEAD~ && clean -df

  # Replaces the last commit message with a new one
  recommit = commit --amend
